Label{
    -fx-font-family: "Roboto";
    -fx-font-size : 14;
    -fx-text-fill : font-color;
}

.pane{
    -fx-background-color: bg-color;
}

.alert-pane{
    -fx-background-color: rgba(0,0,0,0.5);
}

.alert-pane VBox{
    -fx-background-color: bg-color;
    -fx-background-radius: 5px;
}

.flat-btn-cyan{
    -fx-background:none;
    -fx-background-color:transparent;
    -fx-border:none;
    -fx-text-fill:cyan;
    -fx-font-family:"Roboto";
}

Button {
    -fx-background:none;
    -fx-background-color:transparent;
    -fx-font-family:"Roboto";
}

TextField {
    -fx-background-color:transparent;
    -fx-background:none;
    -fx-text-fill:white;
    -fx-font-family:"Roboto";
    -fx-border-color:green;
    -fx-border-width: 0 0 1 0;
}

.h1{
    -fx-font-size:32px;
}

.h2{
    -fx-font-size:24px;
}

.h3{
    -fx-font-size:18px;
}

.h4{
    -fx-font-size:16px;
}