.root {
  -fx-font-family : 'Roboto';
}

.about_donate_hyperlink
{
    -fx-font-size : 19;
    -fx-font-weight : bold;
}

.plugins_settings_each_plugin_button_bar
{
	-fx-alignment:center-right;
}

.about_license_label
{
    -fx-font-size : 16;
}

.theme_settings_each_theme_box, .plugins_settings_each_plugin_box, .clients_settings_each_client_box
{
    -fx-border-width : 0 0 1 0;
    -fx-border-color : grey;
}

.plugins_settings_each_plugin_heading_label, .themes_settings_each_theme_heading, .client_settings_each_client_nick_name_label
{
    -fx-font-size : 19;
}

.action_box
{
    -fx-border-width: 1px;
    -fx-border-color : grey;
}

.action_box_icon_present
{

}

.action_box_icon_not_present
{

}

.action_box_valid
{
    -fx-border-color: grey;
}

.action_box_invalid
{
    -fx-border-color: red;
}

.action_box_display_text_label
{
    -fx-font-size : 16;
    -fx-background-color : transparent;
}

.action_details_pane_heading_label
{
    -fx-font-size : 16;
}

.client_settings_each_client_socket_connection_label
{
    -fx-font-size : 16;
}


.general_settings{
    -fx-alignment : TOP_CENTER;
    -fx-padding : 10;
}

.alert_header
{
    -fx-padding: 5;
}

.alert_pane
{
    -fx-border-width : 5;
    -fx-border-radius : 5; 
    -fx-background-radius : 5;
    -fx-max-width : 400;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0.0 , 0 );
}

.alert_header_icon
{
    -fx-icon-size : 30;
}

.alert_content_pane
{
    -fx-padding: 5;
}

.alert_pane_parent
{
    -fx-background-color : rgba(0,0,0,0.5);
}

.alert_pane_header_text
{
    -fx-font-size: 18;
}

.alert_button_bar
{
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.alert_scroll_pane {
    -fx-max-height : 300;
    /*-fx-focus-color: #FFFFFF;
    -fx-faint-focus-color:#FFFFFF;*/
}

.plugins_pane
{
    -fx-spacing: 5;
}

.plugins_pane_each_plugin_button_imageview
{
    -fx-width:20;
    -fx-height:20;
}

.about_donate_hyperlink
{
    -fx-padding : 10 0 0 0;
    -fx-font-size : 25;
}


.first_time_use_pane
{
    -fx-padding : 5;   
}

.first_time_use_pane_heading_label
{
    -fx-font-size: 20;
}

.first_time_use_pane_stackpane
{

}

.first_time_use_pane_welcome
{

}

.first_time_use_pane_license
{
    -fx-spacing : 10;
}

.first_time_use_pane_final_config
{

}

.first_time_use_pane_final_config_label
{
    -fx-padding: 0 0 30 0;
}

.first_time_use_welcome_pane_welcome_label
{
    -fx-font-size: 30;
}

.first_time_use_welcome_pane_next_to_continue_label
{
    -fx-font-size: 15;
}

.scroll-pane
{
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

.plugins_settings_scroll_pane, .themes_settings_scroll_pane, .clients_settings_scroll_pane
{
    -fx-padding: 10 0 0 0;
}

.plugins_settings_each_plugin_box, .theme_settings_each_theme_box, .clients_settings_each_client_box
{
    -fx-spacing : 5;
    -fx-padding : 10 0 10 0;
}

.plugins_pane_each_plugin_box_parent, .plugins_pane_each_plugin_box
{
    -fx-spacing : 5;
}

.about
{
    -fx-spacing : 5;
}

.about_links_box
{
    -fx-spacing : 15;
}


.action_details_pane_delete_button
{
    -fx-text-fill : red;
}

.action_details_pane_reset_button
{
    -fx-text-fill : orange;
}

.client_and_profile_selector_pane_stack
{
    -fx-spacing: 5;
}

.plugins_settings, .themes_settings, .clients_settings
{
    -fx-padding: 0 10 0 0;
}

/*Alert Classes added to default stylesheet to show init error, if occurs */
.action_box_display_text_label
{
    -fx-font-size : 16;
    -fx-background-color : transparent;
}

.alert_pane
{
    -fx-background-color : white;
    -fx-border-color : white;
}

.alert_content_pane
{
    -fx-background-color: white;
    -fx-padding: 5;
}

.alert_scroll_pane
{
    -fx-background:  white;
    -fx-border-color:white;
}

.alert_button_bar
{
    -fx-background-color:white;
}

.split-pane-divider {
    -fx-padding: 2;
}